# Generales
.DS_Store
Thumbs.db
node_modules
yarn-error.log
.pnp.*
.yarn

frontend/node_modules
frontend/build
frontend/dist
frontend/.cache
frontend/.vite
frontend/.eslintcache
frontend/.stylelintcache
frontend/yarn-error.log

# Backend
backend/node_modules
backend/dist
backend/build
backend/.cache
backend/yarn-error.log

.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

logs
tmp
temp
*.log

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

report
coverage